@charset "UTF-8";
body{
    background-color: rgb(110, 109, 107);
}
div{
    background-image: linear-gradient(rgb(168, 168, 6));
    border-radius: 10px;
    padding: 15px;
}
header{
    background-color: rgb(142, 150, 34);
    border-radius: 10px;
    padding: 5px;
    
}
h3:hover{
    background-color: bisque;
    width: 60px;
     margin: 1px;
    padding: 3px 16px 2px 10px;
}
article{
    display: flex; gap: 60px;
    background-image: linear-gradient(yellow, rgb(197, 197, 16));
}
.video{
    width: 300px;
}