@charset "UTF-8";

body {
    background-image: linear-gradient(#8d511c, #913310)
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 99, 12);
    padding: 10px 20px;
}
.logo {
    font-size: 1.5rem;
    color: white;
}
.nav-links {
    list-style: none;
    display: flex;
    grid-template-columns: 1fr;
    gap: 1fr;
}

.nav-links li {
    margin: 0 15px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}

.linhas {
    display: none;
    cursor: pointer;
}
.linhas div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.jg {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.item {
    background-color: #1C261C;
    padding: 1rem;
    border: 1px solid rgb(86, 86, 99);
    text-align: center;
}

@media (min-width: 768px) {
    .jg {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .jg {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .nav-links.nav-active{
        display: flex;
    }
    .nav-links li{
        margin: 10px 0;
    }
    .linhas {
        display: block;
    }
}