@charset "UTF-8";

body{
    background-image: linear-gradient(#8d511c, #913310)
}

main{
    background-image: linear-gradient(#744612, #47462d);
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: -10px;
}
.inicio{
    padding: 3px 16px 2px 10px;
    
}
.inicio:hover{
    color: rgb(107, 105, 105);
    background-color: rgb(153, 193, 228);
    height: 65px;
}
.lini{
    color: white;
    text-decoration: none;

}
.lini:hover{
    color: black;
}

div#inicio{
    color: rgb(177, 171, 171);
    background-image: linear-gradient(#86030e, #ffffff31);
    width: 100%;
    display: flex; gap: 10px;
     border-radius: 10px;
    height: 70px;

}

.jg{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.item{
    background-color: #1C261C;
    padding: 1rem;
    border: 1px solid rgb(86, 86, 99);
    text-align: center;
}

@media (min-width: 768px) {
    .jg {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .jg {
        grid-template-columns: repeat(4, 1fr);
    }
}