@charset "UTF-8";

body{
    background-image: linear-gradient(rgb(179, 177, 177), rgb(104, 104, 104));
}

main{
    background-image: linear-gradient(#0c368a, #042940);
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: -10px;
}
.inicio{
    padding: 3px 16px 2px 10px;
    
}
.inicio:hover{
    color: black;
    background-color: rgb(153, 193, 228);
    height: 65px;
}
.lini{
    color: white;
    text-decoration: none;

}
.lini:hover{
    color: black;
}

div#inicio{
    color: rgb(177, 171, 171);
    background-color: #005C53;
    width: 100%;
    display: flex; gap: 10px;
     border-radius: 10px;
    height: 70px;

}

div#img{
    
    background-image: linear-gradient(#038C73, #014034);
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 16px 0px -4px -8px;
    height: 140px;
}
    

.foto{
    display: inline-block;
    
}
div > img{
    margin:10px;
}
div#img2{
    background-image: linear-gradient(#038C73, #014034);
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 16px 0px -4px -8px;
    
}

