@charset "UTF-8";
        body {
             background-color: rgb(43, 116, 47);
             font-family: Arial, Helvetica, sans-serif;
             font-size: 20px;
        }
        h1{
            color: rgb(128, 63, 148);
            width: 350px;background-color: rgb(28, 73, 22);
        }
        h2{
            color: rgb(92, 36, 34);
            width: 350px;background-color: rgb(13, 90, 24);
        }
        p{
            text-align: justify;
        }
      